<div class ="container">
  <h1 style ="text-align:center"><strong>Quotes that inspire</strong></h1>
  <hr>
  <div class="intro">
  <div class = "jumbotron">
    <app-quote-form (addQuote)="addnewQuote($event)"></app-quote-form>
  </div> 
  <div class="card-styles">  
    <div *ngFor='let quote of quotes; let i=index'> 
        <div class= "card"> 
          <div class = card-header>   
              <div><i class ="leftvote"> </i>{{quote.message}}<i class="rightvote"></i></div>
              <div class="daterange">Submitted {{quote.inputDate|dateCount}} days ago</div>
              <button class = "btn btn-info" (click) = upvote(i)>upvote</button>
              <button class = "btn btn-info" (click) = downvote(i)>downvote</button>
          </div>
          <div class = "card-body">        
              <button class = "btn btn-info" (click) = revealDetails(i)>About Quotes</button>
              <br>
              <app-quote-details *ngIf="quote.showDetails"[quote] = 'quote' (isComplete)='delQuote($event,i)'></app-quote-details>
          </div>     
        </div>
      </div>   
  </div>
  </div>
</div>